name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test (go ${{ matrix.go }}, ${{ matrix.host }})
    runs-on: ${{ matrix.host }}
    timeout-minutes: 10
    strategy:
      matrix:
        go: ['1.25', '1.26']
        host: [ubuntu-latest, macos-15-intel, windows-latest, ubuntu-24.04-arm, windows-11-arm]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: true

      - name: Run tests (buildmode=exe)
        if: ${{ matrix.host != 'windows-11-arm' }}
        run: go test -buildmode=exe ./...

      - name: Run tests (buildmode=pie)
        if: ${{ matrix.host != 'windows-11-arm' }}
        run: go test -buildmode=pie ./...

      - name: Run tests (buildmode=exe, windows-11-arm)
        if: ${{ matrix.host == 'windows-11-arm' && matrix.go == '1.26' }}
        run: |
          $env:CC="clang"
          $env:CGO_LDFLAGS="-lclang_rt.builtins-aarch64.lib -O2 -g"
          go test -buildmode=exe ./...

      - name: Run tests (buildmode=pie, windows-11-arm)
        if: ${{ matrix.host == 'windows-11-arm' && matrix.go == '1.26' }}
        run: |
          $env:CC="clang"
          $env:CGO_LDFLAGS="-lclang_rt.builtins-aarch64.lib -O2 -g"
          go test -buildmode=exe ./...
